body {
    transform: scale(1.75);
    transform-origin: 0 0;
    overflow: hidden;
    width: calc(100% / 1.75);
}   
a{
    text-decoration: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(94, 103, 146);
}
.top-bar-container{
    display: flex;
    /* padding-top: 13px; */
    align-items: center;
    /* padding-left: 10px; */
    background-color: rgb(255, 255, 255);
    background-image: url('images/Untitled\ design.png');
    background-size: 950px;
}

.welcome-msg-container{
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: xx-large;
    text-align: center;
    padding-top: 2px;
}

.navigation-links{
    flex-grow : 1;
    flex-shrink : 1;
    font-size: xx-large;
    text-align: center;
    /* white-space: nowrap; */
}
.logo{
    padding-left: 20px;
}

.book-menu-container{
    font-family: sans-serif;
    font-size: medium;
}

.description{
    text-align: center;
}

.login-container{
    justify-content: center;
    /* /* align-items: center; */
    text-align: center;
    flex-grow: 1;
    flex-shrink: 1;
    padding-top: 50px;
}

.input-group input::placeholder{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-small;
    
}

.login{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: smaller;
    padding-bottom: 25px;
}

.input-group[type="text"]:focus{
    font-size: x-16px;
    font-family: 'Times New Roman', Times, serif;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,0.25);
    outline:none;

}


